<h1 class="text-center">Mis tareas</h1>
<hr>
<section class="row">
    <!-- Menu -->
    <div class="col-md-4 col-lg-3 col-sm-6 col-12">
        <h3 class="text-center">Menu</h3>
        <hr>
        <ul class="list-group">
            <li class="list-group-item" 
            *ngFor="let menuItem of menuItems; let i = index">
                <button type="button" 
                class="btn btn-outline-primary w-100" 
                (click)="setMenuItemAsActive(i)"
                [ngClass]="{'active': menuItem.active}"
                >
                    {{ menuItem.item }}
                </button>
            </li>
            <!-- <li class="list-group-item">
                <button type="button" 
                class="btn btn-outline-primary w-100" 
                (click)="setMenuItemAsActive(menuItems[1])"
                [ngClass]="{'active': menuItems[1].active}"
                >
                    {{ menuItems[1].item }}</button>
            </li> -->
        </ul>
    </div>
    <!-- Tareas Container -->
    <div class="col row">
        <h3 class="col-12 text-center">Tareas</h3>
        <hr>

    </div>
</section>