<h1 class="text-center">Mis tareas</h1>
<hr>
<section class="row">
    <!-- Menu -->
    <div class="col-md-4 col-lg-3 col-sm-6 col-12">
        <h3 class="text-center">Menu</h3>
        <hr>
        <ul class="list-group">
            <li class="list-group-item" 
            *ngFor="let menuItem of menuItems; let i = index">
                <button type="button" 
                class="btn btn-outline-primary w-100" 
                (click)="setMenuItemAsActive(i)"
                [ngClass]="{'active': menuItem.active}"
                >
                    {{ menuItem.item }}
                </button>
            </li>
            <!-- <li class="list-group-item">
                <button type="button" 
                class="btn btn-outline-primary w-100" 
                (click)="setMenuItemAsActive(menuItems[1])"
                [ngClass]="{'active': menuItems[1].active}"
                >
                    {{ menuItems[1].item }}</button>
            </li> -->
        </ul>
    </div>
    <!-- Container -->
    <div class="col">
        <!-- Contenedor de tareas -->
        <div class="row" *ngIf="menuItems[1].active; else formulario">
            <h3 class="col-12 text-center">Tareas</h3>
            <hr class="col-12">
            <!-- {{ tareas | json }} -->
            <div class="card p-1 col-12 col-sm-6 col-lg-6" 
                *ngFor="let tarea of tareas; let i = index">
                <div class="card-header text-center text-white" 
                [ngClass]="{
                        'bg-primary': tarea.status == 'Pendiente',
                        'bg-success': tarea.status == 'Completado',
                        'bg-danger':  tarea.status == 'Retrasado'
                    }">
                    <h2>{{tarea.titulo}}</h2>
                </div>
                <div class="card-body">
                    {{tarea.descripcion}}
                </div>
                <div class="card-footer text-center d-flex justify-content-between">
                    <p></p>
                    <p [ngClass]="{
                        'text-primary': tarea.status == 'Pendiente',
                        'text-success': tarea.status == 'Completado',
                        'text-danger':  tarea.status == 'Retrasado'
                    }">
                        {{tarea.status}}
                    </p>
                    <div class="text-end">
                        <button class="btn btn-small btn-danger" 
                        (click)="cambiarStatus(i, 'Retrasado')"
                        *ngIf="tarea.status == 'Pendiente'"
                        >R</button>

                        <button class="btn btn-small btn-success" 
                        (click)="cambiarStatus(i, 'Completado')"
                        *ngIf="tarea.status != 'Completado'"
                        >C</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Formulario para nuevas tareas -->
        <ng-template #formulario>
            <div class="row">
                <h3 class="col-12 text-center">Nueva Tarea</h3>
                <hr class="col-12">
                <form class="col-6">
                    <div class="form-floating">
                        <!-- <input type="text" id="titulo" class="form-control" placeholder="" [(value)]="newTarea.titulo" /> -->
                        <input type="text" 
                            #tituloInput
                            id="titulo" 
                            class="form-control" 
                            required
                            placeholder="" />
                        <label for="titulo">Titulo de la tarea</label>
                    </div>
                    <div class="form-floating">
                        <textarea name="descripcion" 
                            #descripcionInput
                            id="descripcion" 
                            cols="30" rows="5" 
                            class="form-control" 
                            required
                            placeholder="" ></textarea>
                        <label for="descripcion">Descripción de la tarea</label>
                    </div>
                    <button type="button" 
                        (click)="agregarTarea(tituloInput.value , descripcionInput.value)"
                        class="btn btn-outline-primary mt-2">
                        Agregar
                    </button>

                    <!-- {{newTarea | json}} -->
                </form>
            </div>
        </ng-template>

    </div>
</section>